@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

@theme {
	--color-primary: #ff8c00;
}

body {
	font-family: 'Nunito Sans', sans-serif;
}
